h1{
  text-align: center;
  padding-bottom: 25px;
}

h6 {
    padding-top: 25px;
}

.desc {
  font-size: .9rem;
}

.infoSource {
  font-style: italic;
  font-size: .7rem;
}


.infoSource a {
  font-style: italic;
  font-size: .7rem;
}
